@import '../font/stylesheet.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.app {
  width: 100%;
}

.header {
  padding: 6px 0;
  margin-top: 20px;
  font-size: 21.1247px;
  line-height: 20px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__more {
  display: flex;
  gap: 5px;
  align-items: center;
}
.header__moretxt {
  display: flex;
  gap: 5px;
  align-items: center;
}

.cards {
  padding-top: 55px;
}
.cards__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: minmax(163px, auto);
  grid-column-gap: 23px;
}

.card {
  position: relative;
}
.card__img-container {
  background: #FBFAED;
  height: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px auto 0;
  width: 225px;
}
.card__img {
  height: 140px;
}
.card__ui {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 100%;
  align-items: center;
  margin-top: -15px;
}
.card__price {
  text-align: center;
}
.card__amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.card__amount div {
  min-width: 30px;
  text-align: center;
}
.card__button {
  cursor: pointer;
  width: 32px;
}
.card__name {
  font-size: 12px;
  margin-top: 12px;
}
.card__new {
  position: absolute;
  background: #3F452E;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 145.5%;
  letter-spacing: 0.03em;
  width: 112px;
  text-align: center;
  top: 3px;
}
.card__sale {
  background-image: url("/public/img/sale.svg");
  position: absolute;
  right: 0;
  width: 48px;
  height: 48px;
  text-align: center;
  color: #FFFFFF;
  transform: rotate(-30deg);
  font-size: 12px;
  line-height: 48px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .app {
    padding: 0 45px;
  }
}
@media (max-width: 1024px) {
  .app {
    padding: 0 40px;
  }
  .cards__inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__plus {
    display: block;
  }
  .card__amount div:not(:last-child) {
    display: none;
  }
  .card__img-container {
    width: 100%;
  }
}
@media (max-width: 744px) {
  .app {
    padding: 0 30px;
  }
  .cards__inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .header__moretxt div:not(:first-child) {
    display: none;
  }
}
@media (max-width: 375px) {
  .app {
    padding: 0 25px;
  }
  .cards__inner {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */