@import '../font/stylesheet.css';
@import "_reset";

body{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
}
.header{
    padding: 6px 0;
    margin-top: 20px;
    font-size: 21.1247px;
    line-height: 20px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__more{
        display: flex;
        gap: 5px;
        align-items: center;
    }
}
.cards{
    padding-top: 55px;
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }
}
.card{
    width: 330px;
    position: relative;
    &__img-container{
        background: #FBFAED;
        height: 162px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 13px auto 0;
        width: 100%;
    }
    &__img{
        height: 140px;
    }
    &__ui{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 100%;
        align-items: center;
        margin-top: -15px;
    }
    &__amount{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:3px;
        div {
            width: 30px;
            text-align: center;
        }
    }
    &__button{
        cursor: pointer;
        width: 30px;
        height: 28px;
        border: 2px solid #000000;
    }
    &__name{
        font-size: 12px;
        margin-top: 12px;
    }
    &__new{
        position: absolute;
        background: #3F452E;
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        line-height: 145.5%;
        letter-spacing: 0.03em;
        width: 112px;
        text-align: center;
        top: 3px;
    }
    &__sale{
        background-image: url('/public/img/sale.svg');
        position: absolute;
        right: 0;
        width: 48px;
        height: 48px;
        text-align: center;
        color: #FFFFFF;
        transform:rotate(-30deg);
        font-size: 12px;
        line-height: 48px;
    }
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1240px){
.card{
    max-width: 212px;
    min-width: 193px;
}
}
